@charset "UTF-8";

/*todas as midias*/ 

/* typecal divece breakpoits 
-------------------------------
pequenas telas: 600px
celulares de 600px ate 768px
tablet 768 ate 992px
desktop ate 992px ate 1200px
grandes telas acima de 1200px
-------------------------------
*/

@media print {
    body {
        background-image: url(../back-print.jpg);/*nao precisa colocar fundo na impressao*/
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 1px solid black;
    }

    main h1 {
        text-shadow: none;
        color: blue;
    }

    img#celular {display: none;}
    img#tablet {display: none;}
    img#impresora {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    /*tablet*/
    body {
        background-image: url(../back-tablet.jpg);
    }

    img#celular {display: none;}
    img#tablet {display: block;}
    img#impresora {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body {
        background-image: url(../back-pc.jpg);
    }

    img#celular {display: none;}
    img#tablet {display: none;}
    img#impresora {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../back-tv.jpg);
    }


    img#celular {display: none;}
    img#tablet {display: none;}
    img#impresora {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}

